.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 432px 148px 1fr;

}

.logo-link {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.logo-black {
  max-width: 138px;
  max-height: 110px;
}

.nav__list-container {
  display: flex;
  align-content: center;
  margin-top: 5px;
}

.nav__list {
  display: flex;
  list-style: circle;
  align-items: center;
}

.nav__list-item {
  font-size: 18px;
  font-weight: 400;
  margin-right: 34px;
  line-height: 21.13px;
  border-bottom: 1px solid black;
}

.nav__list-item-active {
  list-style: none;
  border-bottom: none;
}

.nav__list-item-link {
  text-decoration: none;
}


.address {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  width: 240.52px;
  justify-self: end;
  margin-top: 6px;
}

.address__item {
  text-align: end;
  text-decoration: none;
  border-bottom: 1px solid black;
  line-height: 24.3px;
}

.address__item-none-underline {
  border-bottom: none;
  display: inline-block;
  text-align: start;
}

.cover {
  position: relative;
  background: url("../images/cover.jpg") no-repeat center / cover;
  width: 1100px;
  padding-bottom: 52px;
}

.overlay {
  background-color: rgba(0 0 0 / .6);
  position: absolute;
  z-index: 0;
  inset: 0;
} 

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text-left {
  margin-left: 51px;
  padding-top: 164px;
}

.aligned-text-center {
  text-align: center;
  padding-top: 11px;
  padding-left: 2px;
}

.aligned-text-right {
  text-align: right;
  padding-top: 2px;
  padding-right: 19px;
}

.letter-spacing {
  letter-spacing: 0.6em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 126px;
}

.cover__description-text {
  font-weight: 400;
  margin-left:  78px;
  word-spacing: 18px;
  align-self: center;
}

.bet-button {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  background: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  margin-right: 50px;
  padding: 11.5px 31.5px;
  cursor: pointer;
  align-self: flex-start;
}

.bet-button:hover {
  position: relative;
  z-index: 2 ;
  color:rgba(0 0 0);
  border: 1px solid #000;
  box-shadow: 2px 2px 5px;
  background-color: #fff;
}

.lots {
  padding-top: 180px;
  margin-bottom: 146px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-left: 64px;
}

.lots__card-list {
  padding-top: 26px;
  list-style: none;
  display: grid;
  grid-template-columns: 335px 335px 335px;
  justify-content: center;
  gap: 24px;
  padding-left: 2px;
}

.lots__card-list-item {
  display: flex;
  max-width: 334px;
  max-height: 563px;
  flex-grow: 1;
}

.card {
  height: 100%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image:  url('../images/card-lot-03.jpg');
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  display: inline-block;
  margin: 51px 40px auto;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: .5px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  position: relative;
  z-index: 1;
}

.card__text {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: auto 40px 48px;
  position: relative;
  z-index: 1;
}

.letter-spacing-accent {
  letter-spacing: .1em;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-top: 30px;
  margin-left: 64px;
}

.about {
  display: grid;
  grid-template-columns: 335px 1fr;
  grid-template-rows: 240px 136px 1fr;
  justify-content: center;
  gap: 8px 25px;
  padding-left: 24px;
  margin-top: 181px;
}

.about__logo {

  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  justify-self: center;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  align-self: center;
  margin-top: 10px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  grid-column: 2 / span 1;
  letter-spacing: .01px;
}

.footer {
  margin: 205px 50px auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.address__padding-left {
  padding-left: 0px;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    width: 149px;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-link-active {
  border-bottom: none;
}

.footer__social-list {
  width: 240px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}

.footer__address {
  margin-top: 0;
}













